<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://openlayers.org/favicon.ico" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/map.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!--Datepicker functionalities-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

  <!--Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!--Title-->
  <title>Green Pick Up</title>
</head>

<!-- Content -->
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  
  <body>
    {% block content %}{% endblock %}
  </body>

</section>

<!-- Footer -->
{% block footer %}{% endblock %}
